<?xml version="1.0"?>
<config>
    <modules>
        <Ecomwise_MshopB2B>
            <version>1.2.7</version>
        </Ecomwise_MshopB2B>
    </modules>
    <frontend>
    	<routers>
    		<checkout>
    			<args>
    				<modules>
    					<ecomwise_mshopb2b before="Mage_Checkout">Ecomwise_MshopB2B</ecomwise_mshopb2b>
    				</modules>
    			</args>
    		</checkout>
    		<sales>
    			<args>
    				<modules>
    					<ecomwise_mshopb2b before="Mage_Sales">Ecomwise_MshopB2B</ecomwise_mshopb2b>
    				</modules>
    			</args>
    		</sales>
    	</routers>
    	<events>
    		<catalog_product_collection_load_after>
    			<observers>
    				<mshopb2b>
    					<class>mshopb2b/observer</class>
                        <method>prepareCollection</method>
               		</mshopb2b>
    			</observers>
    		</catalog_product_collection_load_after>
       </events>
    </frontend>
    <global>
    	<models>
         	<mshopb2b>
                <class>Ecomwise_MshopB2B_Model</class>
                <resourceModel>mshopb2b_mysql4</resourceModel>
         	</mshopb2b>
         	
         	<mshopb2b_mysql4>
                <class>Ecomwise_MshopB2B_Model_Mysql4</class>
                <entities>
                    <mshopb2b_customer>
                        <table>ecomwise_customerpromotions_mapping</table>
                    </mshopb2b_customer>
                     <mshopb2b_catalog>
                        <table>ecomwise_catalogpromotions_mapping</table>
                    </mshopb2b_catalog>
                    <mshopb2b>
                        <table>ecomwise_customermamut_mapping</table>
                    </mshopb2b>
                    <mshopb2b_contact>
                        <table>ecomwise_mamut_contact_groups</table>
                    </mshopb2b_contact>
                </entities>
         	</mshopb2b_mysql4>
         	<catalogrule>
            	<!-- <rewrite>
            		<rule>Ecomwise_MshopB2B_Model_Rules_CatalogRule</rule>
            	</rewrite> -->
            	<rewrite>
                	<rule_condition_combine>Ecomwise_MshopB2B_Model_Rules_Combine</rule_condition_combine>
                </rewrite>
         	</catalogrule>
        	 <catalogrule_mysql4>
            	<rewrite>
            		<rule>Ecomwise_MshopB2B_Model_Rules_MySQL4Rule</rule>
            	</rewrite>
        	</catalogrule_mysql4>
        	<catalogrule_resource>
        		<rewrite>
        			<rule_collection>Ecomwise_MshopB2B_Model_Collections_RuleCollection</rule_collection>
        		</rewrite>
        	</catalogrule_resource>
        	<salesrule>
        		<rewrite>
        			<validator>Ecomwise_MshopB2B_Model_SalesRule_Validator</validator>
        		</rewrite>
        	</salesrule>
        	<tax>
        		<rewrite>
        			<sales_total_quote_subtotal>Ecomwise_MshopB2B_Model_Sales_Tax_Subtotal</sales_total_quote_subtotal>
        		</rewrite>
        	</tax>
        	<customer>
        		<rewrite>
        			<group>Ecomwise_MshopB2B_Model_Customer_Group</group>
        		</rewrite>
        	</customer>
		</models>
        <resources>
			<mshopb2b_setup>
                <setup>
                	 <module>Ecomwise_MshopB2B</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</mshopb2b_setup>
            <mshopb2b_write>
                <connection>
                    <use>core_write</use>
                </connection>
       		</mshopb2b_write>
            <mshopb2b_read>
                <connection>
                    <use>core_read</use>
                </connection>
       		</mshopb2b_read>
    	</resources>        
        <blocks>
            <mshopb2b>
                <class>Ecomwise_MshopB2B_Block</class>
            </mshopb2b>
            <adminhtml>
                <rewrite>
               		<promo_catalog_grid>Ecomwise_MshopB2B_Block_Adminhtml_EcomwisePromoCatalogGrid</promo_catalog_grid> 
                    <promo_catalog_edit_tab_main>Ecomwise_MshopB2B_Block_Adminhtml_EcomwisePromoCatalogEditTab</promo_catalog_edit_tab_main>      
                	<customer_grid>Ecomwise_MshopB2B_Block_Adminhtml_EcomwiseCustomerGrid</customer_grid>    
                	<sales_order_create_shipping_method_form>Ecomwise_MshopB2B_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form</sales_order_create_shipping_method_form>
                </rewrite>
            </adminhtml>
       </blocks>
       <helpers>
        	<mshopb2b>
             	<class>Ecomwise_MshopB2B_Helper</class>
            </mshopb2b>
   	  </helpers>
   	  <events>
         	<catalogrule_rule_delete_after>
    			<observers>
						<mshopb2b>
							<class>mshopb2b/observer</class>
							<method>afterDeleteRule</method>
						</mshopb2b>
					</observers>
    		</catalogrule_rule_delete_after>
    	</events>
    </global>
    
    <adminhtml>	
    	<acl>
	        <resources>
	        	<all>
					<title>Allow Everything</title>
				</all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <mshopb2b translate="title" module="mshopb2b">
	                                        <title>Ecomwise MshopB2B</title>
	                                    </mshopb2b>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	               </children>
	           </admin>
	       </resources>
	    </acl>
    </adminhtml>  
    <default>
          <carriers>
            <mamut_shipping>
                    <active>1</active> 
                    <sallowspecific>0</sallowspecific>
					<model>mshopb2b/carrier_mamutshipping</model>
                    <name>Mamut Rate</name>
                    <title>Mamut Shipping</title>
           </mamut_shipping>
        </carriers>
        <payment>
			<mamut_billing>
				<model>mshopb2b/payment_mamutbilling</model>
				<active>1</active>
				<order_status>mshop_mamut</order_status>
				<title>Mamut Billing</title>
				<payment_action>sale</payment_action>
				<allowspecific>0</allowspecific>
			    <method_description>Mamut Billing</method_description>
		   </mamut_billing>
		</payment>
		<mshopb2b>
			<parameters>
				<applyhighestrule>0</applyhighestrule>
				<setlogging>0</setlogging>
			</parameters>
		</mshopb2b>
    </default>
</config>
    